.leftboxes{
    background-color: #69a2ff;
    width: 40vw;  
    border: 1px solid black;
    border-radius: 8px;
    padding: 1rem; /* optional: adds spacing inside the box */
    margin-left: 10vw;
    margin-right: 2vw;
    margin-bottom: 5vh;
    flex-wrap: wrap;
}
.rightboxes {
    background-color: #fc5656;
    width: 40vw;  
    border: 1px solid black;
    border-radius: 8px;
    padding: 1rem; /* optional: adds spacing inside the box */
    margin-left: 2vw;
    margin-right: 10vw;
    margin-bottom: 5vh;
}

.midbox{
    
    width: 84vw;  
    border: 1px solid black;
    border-radius: 8px;
    padding: 1rem; /* optional: adds spacing inside the box */
    margin-left: 3vw;
    margin-right:3vw;
}

.groupings{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top:5%;
}
.allgroupings{
    display:flex;
    flex-direction: column;
}

.capabilitycontainer{
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
    justify-content: center;
    gap: 8vw;
    flex-wrap: wrap;
}

.capabilitybox {
    display: flex;
    flex-direction: column;
    align-items: center;    /* Center horizontally */
    justify-content: center; /* Optional: Center vertically */
    padding: 1vh;
}

.field-container {
    position: relative; /* this is key for absolute children */
    width: 100%;
    max-width: 800px;
    margin: auto;
}
  
.field-image {
    width: 100%;
    height: auto;
    display: block;
}
  
.red-team-number {
    position: absolute;
    /* top/left customized per position */
    transform: translate(-50%, -50%);
    background-color: #fc5656;
    color: #232324;
    font-weight: bold;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.blue-team-number {
    position: absolute;
    /* top/left customized per position */
    transform: translate(-50%, -50%);
    background-color: #69a2ff;
    color: #232324;
    font-weight: bold;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 0.9rem;
}

.team-buttons{
    padding-top: 2vh;
    display: flex;
    flex-direction:row;
    gap: 9vw;
    align-items: center; 
    justify-content: center;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3f51b5;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 0.8s linear infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.dropdown-container{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    margin-top: 2vh;
    margin-left: 5vw;
    gap: 2vh;
}
.dropdown{
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

.winprobbox{
    margin-top: 5vh;
}